<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.zh.pojo.People" id="people">
        <property name="name" value="阿发"/>
        <property name="age" value="62"/>
<!--        <property name="friends" value="小李 小龙"/>-->
        <property name="friends">
            <array>
                <value>刘德华</value>
                <value>郭富城</value>
                <value>黎明</value>
                <value>张学友</value>
            </array>
        </property>
        <property name="nums">
            <list>
                <value>1</value>
                <value>6</value>
                <value>8</value>
                <value>9</value>
            </list>
        </property>
        <property name="cats">
            <list>
                <!--   内部bean，无法被外部使用，无需id-->
                <bean class="com.zh.pojo.Cat">
                    <property name="skin" value="灰色"/>
                    <property name="leg" value="2"/>
                </bean>
                <bean class="com.zh.pojo.Cat">
                    <property name="skin" value="黑色"/>
                    <property name="leg" value="4"/>
                </bean>
            </list>
        </property>
        <property name="pigs">
            <set>
                <bean class="com.zh.pojo.Pig">
                    <property name="name" value="佩奇"/>
                    <property name="sleep" value="88"/>
                    <property name="taste" value="涩口"/>
                </bean>
                <bean class="com.zh.pojo.Pig">
                    <property name="name" value="小宝"/>
                    <property name="sleep" value="99"/>
                    <property name="taste" value="香辣"/>
                </bean>
            </set>
        </property>
        <property name="users">
            <map>
                <entry key="user1">
                    <bean class="com.zh.pojo.User">
                        <property name="name" value="韩雪"/>
                        <property name="address" value="北京"/>
                    </bean>
                </entry>
                <entry key="user2">
                    <bean class="com.zh.pojo.User">
                        <property name="name" value="林青霞"/>
                        <property name="address" value="香港"/>
                    </bean>
                </entry>
            </map>
        </property>
    </bean>
</beans>